
/* a {
    position: relative
  }
  
  a span {
    display: none;
    position: absolute;
    bottom: 25px;
    width: 300px;
    height: 300px;
    padding: 10px;
    background: rgba(0,0,0,.6);
    text-align: center;
  }

  a:hover span {
    display: block;
    padding-top: 100px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
  } */

  .galleryImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

.containerCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    padding: 20px;
}

.galleryImage {
    opacity: 1;
    display: block;
    width: 300px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imageCard:hover .galleryImage {
    opacity: .2;
    background: rgba(0,0,0,.2);
}

.imageCard:hover .middle {
    opacity: 1;
}

.text {
    color: black;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}


  