.iconsUList {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  padding: 5px;
}

.iconsList {
  font-size: 25px;
}

.fa, .fab, .fas {
  color: black;
}

.iconsList {
  margin: 5px;
  padding: 3px;
}