.aboutMe {
    background-color: #EDEEEF;
    padding-bottom: 80px;
}

.title {
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}