.intro {
    background-color: #EDEEEF;
    padding-bottom: 80px;
}

.iAm {
    padding-top: 100px;
    padding-bottom: 25px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 70px;
}

.striveFor {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
