.skillTitle {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 50px;
}

.skillsUList {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.skillsList {
    list-style: none;
    padding: 10px;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
}

.resume {
    padding: .5rem 1rem;
    font-size: 25px;
}

.resume:hover {
    color: #007bff;
}

.technicalDiv {
    padding-bottom: 80px;
}

.resumeButton {
    background-color: #EDEEEF;
    padding: 0;
}
